body {
  background: #f8e8f4;
}

li {
  text-transform: capitalize;
}

.weather {
  font-family: "Sono";
  background: rgba(222, 162, 235, 0.761);
  border-radius: 16px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
  color: rgb(88, 62, 218);
  margin: 40px auto 0px;
  max-width: 800px;
}

.weather form {
  margin-top: 20px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.weather .search-input {
  background: rgb(242, 242, 178);
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(24, 20, 40, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.weather .btn {
  background: #774ede;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(24, 20, 40, 0.4);
}

.weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: rgb(71, 49, 179);
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(24, 20, 40, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.weather li strong {
  color: rgb(205, 40, 205);
  font-weight: normal;
}

.weather .temperature {
  font-weight: bold;
  color: rgb(71, 49, 179);
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.weather .unit {
  color: rgb(71, 49, 179);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.weather footer {
  font-size: 12px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(24, 20, 40, 0.4);
}

.weather footer a {
  color: #774ede;
}

.weatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}

.weatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(24, 20, 40, 0.4);
}

.weatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(205, 40, 205);
  font-weight: bold;
}

.weatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.weatherInfo {
  margin-top: 20px;
}

.weatherInfo .temperature-container {
  margin-top: 30px;
  align-items: center;
}
